@charset "UTF-8";

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.main {
  margin-top: calc( 30px + 46 * ((100vw - 320px) / 1120));
}

nav .container,
.header_nav_menu,
.cards_block,
.block_items,
.main_hall,
.inst_block,
.main_contacts,
.footer_block,
.footer_items:last-child,
.popular_models_header,
.hall_creator_block,
.story_about,
.story_direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  overflow-x: visible;
}

body {
  font-family: "Jost", sans-serif;
  font-size: calc( 14px + 6 * ((100vw - 320px) / 1120));
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 600;
  font-size: calc( 40px + 80 * ((100vw - 320px) / 1120));
}

h2 {
  font-size: calc( 25px + 10 * ((100vw - 320px) / 1120));
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

header {
  background-color: #fff4d8;
  padding-bottom: calc( 60px + 66 * ((100vw - 320px) / 1120));
}

nav {
  padding-top: calc( 16px + 23 * ((100vw - 320px) / 1120));
}

.header_nav_logo a {
  font-weight: 600;
  font-size: calc( 18px + 12 * ((100vw - 320px) / 1120));
  position: relative;
}

.header_nav_logo a::after {
  content: "Ukraine";
  position: absolute;
  bottom: -20px;
  left: 0;
  font-weight: 500;
  font-size: 15px;
  opacity: 0.6;
}

.header_nav_menu li {
  margin-right: 80px;
}

.header_nav_menu li:last-child {
  margin: 0;
}

.header_nav_menu a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
}

.header_nav_menu a:hover {
  border-bottom: 1px solid black;
}

.header_nav_telega a {
  padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-left: calc( 10px + 32 * ((100vw - 320px) / 1120));
  padding-right: calc( 10px + 32 * ((100vw - 320px) / 1120));
  background: #fdd455;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header_nav_telega a:hover {
  opacity: 0.8;
}

.header_main {
  position: relative;
}

.header_text {
  position: relative;
  z-index: 10;
  padding-top: calc( 60px + 100 * ((100vw - 320px) / 1120));
}

.header_text p {
  font-size: calc( 14px + 11 * ((100vw - 320px) / 1120));
}

.header_text h1 {
  text-shadow: #fff4d8 3px 0 0, black 5px 0 0;
}

.header_img {
  max-width: 590px;
  position: absolute;
  top: 0;
  right: -50px;
}

.header_link {
  position: relative;
  z-index: 10;
  margin-top: calc( 50px + 60 * ((100vw - 320px) / 1120));
}

.header_link a {
  padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-left: calc( 10px + 32 * ((100vw - 320px) / 1120));
  padding-right: calc( 10px + 32 * ((100vw - 320px) / 1120));
  background: #fdd455;
  border-radius: 10px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: calc( 14px + 50 * ((100vw - 320px) / 1120));
}

.header_link a:hover {
  opacity: 0.8;
}

.header_link a:last-child {
  background: none;
  border: 1px solid black;
  padding-left: calc( 7px + 22 * ((100vw - 320px) / 1120));
  padding-right: calc( 7px + 22 * ((100vw - 320px) / 1120));
}

.header_burger {
  display: none;
}

.new_collection {
  height: 100vh;
  position: relative;
}

.collection_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.collection_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.collection_text h3 {
  font-weight: 500;
  position: relative;
  font-size: calc( 30px + 50 * ((100vw - 320px) / 1120));
  color: #ffffff;
  max-width: 710px;
  line-height: calc( 30px + 60 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 20px + 40 * ((100vw - 320px) / 1120));
  text-shadow: black 2px 1px 0, white 3px 1px 0;
}

.collection_text h3::after {
  content: "";
  position: absolute;
  top: calc( 0px + 15 * ((100vw - 320px) / 1120));
  z-index: -1;
  left: calc( 100px + 250 * ((100vw - 320px) / 1120));
  border-radius: 50%;
  width: calc( 40px + 55.67 * ((100vw - 320px) / 1120));
  height: calc( 90px + 158.75 * ((100vw - 320px) / 1120));
  border: 4px solid #688de0;
  -webkit-transform: rotate(62.74deg);
      -ms-transform: rotate(62.74deg);
          transform: rotate(62.74deg);
}

.collection_text a {
  padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-left: calc( 10px + 32 * ((100vw - 320px) / 1120));
  padding-right: calc( 10px + 32 * ((100vw - 320px) / 1120));
  background: #fdd455;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.collection_text a:hover {
  opacity: 0.8;
}

.main_title {
  margin-bottom: calc( 30px + 42 * ((100vw - 320px) / 1120));
}

.main_title h2 {
  position: relative;
  font-weight: 500;
}

.main_title h2::after {
  content: "";
  position: absolute;
  top: calc( -30px + 10 * ((100vw - 320px) / 1120));
  left: calc( 40px + 40 * ((100vw - 320px) / 1120));
  width: 25.3px;
  height: 101.64px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-transform: rotate(-113.62deg);
      -ms-transform: rotate(-113.62deg);
          transform: rotate(-113.62deg);
}

.cards_block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.cards_block_top {
  margin-bottom: calc( 20px + 26 * ((100vw - 320px) / 1120));
}

.block_items {
  max-width: 560px;
  border: 1px solid black;
  border-radius: 20px;
  padding-top: calc( 20px + 30 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 30 * ((100vw - 320px) / 1120));
  padding-left: calc( 17px + 30 * ((100vw - 320px) / 1120));
  padding-right: calc( 17px + 30 * ((100vw - 320px) / 1120));
}

.items_description {
  width: 40%;
}

.descripyion_coast {
  font-weight: 500;
  margin-top: calc( 8px + 9 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 14px + 27 * ((100vw - 320px) / 1120));
}

.description_link {
  font-size: calc( 12px + 6 * ((100vw - 320px) / 1120));
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.description_link:hover {
  opacity: 0.8;
}

.description_link_catalog {
  padding-top: calc( 6px + 3 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 3 * ((100vw - 320px) / 1120));
  padding-left: calc( 16px + 10 * ((100vw - 320px) / 1120));
  padding-right: calc( 16px + 10 * ((100vw - 320px) / 1120));
  border: 1px solid black;
}

.description_link_block {
  margin-top: calc( 18px + 11 * ((100vw - 320px) / 1120));
}

.description_link_buy {
  padding-top: calc( 5px + 2 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 5px + 2 * ((100vw - 320px) / 1120));
  padding-left: calc( 12px + 8 * ((100vw - 320px) / 1120));
  padding-right: calc( 12px + 8 * ((100vw - 320px) / 1120));
  background-color: #fdd455;
}

.items_img {
  width: 60%;
}

.main_link_catalog::after {
  content: url(../img/arrow.svg);
  margin-left: 17px;
}

.main_link_catalog a {
  border: 1px solid transparent;
  font-size: calc( 12px + 6 * ((100vw - 320px) / 1120));
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main_link_catalog a:hover {
  border-bottom: 1px solid black;
}

.main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_title p {
  font-size: calc( 12px + 6 * ((100vw - 320px) / 1120));
  margin-left: calc( 30px + 47 * ((100vw - 320px) / 1120));
}

.main_hall {
  padding-top: calc( 40px + 41 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 40px + 41 * ((100vw - 320px) / 1120));
  padding-left: calc( 60px + 41 * ((100vw - 320px) / 1120));
  padding-right: calc( 60px + 41 * ((100vw - 320px) / 1120));
  border-radius: 20px;
  border: 1px solid black;
}

.hall_items h3 {
  font-weight: 500;
  font-size: calc( 30px + 20 * ((100vw - 320px) / 1120));
}

.hall_items p {
  margin-top: calc( 15px + 20 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 30px + 59 * ((100vw - 320px) / 1120));
  font-size: calc( 12px + 6 * ((100vw - 320px) / 1120));
}

.hall_items a {
  font-weight: 500;
  color: white;
  background-color: #d97151;
  border-radius: 5px;
  padding-top: calc( 5px + 3 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 5px + 3 * ((100vw - 320px) / 1120));
  padding-left: calc( 15px + 16 * ((100vw - 320px) / 1120));
  padding-right: calc( 15px + 16 * ((100vw - 320px) / 1120));
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hall_items a:hover {
  opacity: 0.8;
}

.hall_items_text {
  width: 30%;
}

.descripyion_coast_main_sales {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.descripyion_coast_main_sales::after {
  content: "";
  position: absolute;
  top: calc( 6px + 7 * ((100vw - 320px) / 1120));
  left: 0;
  width: 100%;
  height: 4px;
  background-color: red;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  border-radius: 100px;
}

.descripyion_coast_new_prise {
  margin-top: 0;
}

.inst_block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: calc( 10px + 30 * ((100vw - 320px) / 1120));
}

.inst_block:last-child {
  margin: 0;
}

.inst_link {
  text-align: center;
  margin-bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.inst_link a {
  font-size: calc( 30px + 25 * ((100vw - 320px) / 1120));
  border-bottom: 1px solid black;
}

.main_contacts {
  margin-bottom: calc( 50px + 105 * ((100vw - 320px) / 1120));
}

.contacts_social h3 {
  font-size: calc( 30px + 20 * ((100vw - 320px) / 1120));
}

.contacts_social a {
  font-size: calc( 20px + 15 * ((100vw - 320px) / 1120));
}

.social_items {
  margin-bottom: calc( 10px + 60 * ((100vw - 320px) / 1120));
}

.social_items_inst {
  margin: 0;
}

.contacts_img h2 span {
  position: relative;
}

.contacts_img h2 span::after {
  content: url(../img/span_outline.svg);
  position: absolute;
  top: -22px;
  left: -12px;
}

footer {
  padding-top: calc( 50px + 110 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 40 * ((100vw - 320px) / 1120));
}

footer .container {
  max-width: 1056px;
}

.footer_block {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer_items:last-child {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer_items h3 {
  margin-bottom: calc( 40px + 55 * ((100vw - 320px) / 1120));
  font-weight: 600;
  font-size: calc( 30px + 20 * ((100vw - 320px) / 1120));
  position: relative;
}

.footer_items h3::before {
  content: "Ukraine";
  position: absolute;
  bottom: calc( -17px + -13 * ((100vw - 320px) / 1120));
  left: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.35;
  font-size: calc( 20px + 15 * ((100vw - 320px) / 1120));
}

.footer_button {
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fdd455;
  padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-left: calc( 18px + 12 * ((100vw - 320px) / 1120));
  padding-right: calc( 18px + 12 * ((100vw - 320px) / 1120));
}

.footer_button:hover {
  opacity: 0.8;
}

.footer_links {
  margin-right: calc( 7px + 73 * ((100vw - 320px) / 1120));
}

.footer_links:last-child {
  margin: 0;
}

.footer_link_major {
  display: inline-block;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border: 1px solid transparent;
  margin-bottom: calc( 13px + 22 * ((100vw - 320px) / 1120));
}

.footer_link_major:hover {
  border-bottom: 1px solid black;
}

.footer_link_brend {
  display: block;
  word-wrap: break-word;
  margin-bottom: calc( 7px + 8 * ((100vw - 320px) / 1120));
}

.footer_link_brend_last {
  margin: 0;
}

.nav_catalog {
  width: 100%;
  padding-bottom: calc( 16px + 23 * ((100vw - 320px) / 1120));
  -webkit-box-shadow: 0px 7px 36px rgba(0, 0, 0, 0.07), 0px 2.6963px 11.4667px rgba(0, 0, 0, 0.0425185), 0px 0.57037px 2.93333px rgba(0, 0, 0, 0.0274815);
          box-shadow: 0px 7px 36px rgba(0, 0, 0, 0.07), 0px 2.6963px 11.4667px rgba(0, 0, 0, 0.0425185), 0px 0.57037px 2.93333px rgba(0, 0, 0, 0.0274815);
}

.popular_models_header {
  margin-bottom: calc( 30px + 42 * ((100vw - 320px) / 1120));
  margin-top: calc( 30px + 42 * ((100vw - 320px) / 1120));
}

.popular_models_header .main_title {
  margin: 0;
}

.popular_models_header .main_title h2 {
  font-weight: 400;
}

.popular_models_header .main_title h2::after {
  display: none;
}

.models_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.models_filters a {
  margin-right: calc( 20px + 20 * ((100vw - 320px) / 1120));
}

.models_filters a:last-child {
  margin: 0;
}

.popular_models {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc( 25px + 25 * ((100vw - 320px) / 1120));
}

.models_sneaker {
  cursor: pointer;
  max-width: 270px;
  margin-bottom: calc( 25px + 25 * ((100vw - 320px) / 1120));
}

.filters_block {
  position: relative;
}

.filters_block:hover .filters_link {
  visibility: visible;
}

.filters_block:focus .filters_link {
  visibility: visible;
}

.filters_link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 5px;
          box-shadow: 0px 0px 5px;
  border-radius: 30px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  visibility: hidden;
}

.filters_link_colors a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.filters_link_colors a:first-child {
  background-color: red;
}

.filters_link_colors a:last-child {
  background-color: greenyellow;
}

.filters_link_colors a:nth-child(3) {
  background-color: aqua;
}

.filters_link_colors a:nth-child(4) {
  background-color: deeppink;
}

.header_catalog_sales {
  height: 50vh;
  position: relative;
  background-image: url("../img/nike_paralax.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header_catalog_sales .collection_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_catalog_sales .collection_text h3 {
  font-weight: 500;
  position: relative;
  font-size: calc( 30px + 50 * ((100vw - 320px) / 1120));
  color: #ffffff;
  max-width: 710px;
  line-height: calc( 30px + 60 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 20px + 40 * ((100vw - 320px) / 1120));
  text-shadow: black 2px 1px 0, white 3px 1px 0;
}

.header_catalog_sales .collection_text h3::after {
  content: "";
  position: absolute;
  top: calc( 0px + -80 * ((100vw - 320px) / 1120));
  z-index: -1;
  left: calc( 100px + 430 * ((100vw - 320px) / 1120));
  border-radius: 50%;
  width: calc( 40px + 55.67 * ((100vw - 320px) / 1120));
  height: calc( 90px + 158.75 * ((100vw - 320px) / 1120));
  border: 4px solid #da0126;
  -webkit-transform: rotate(50.02deg);
      -ms-transform: rotate(50.02deg);
          transform: rotate(50.02deg);
}

.header_catalog_sales .collection_text a {
  padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-left: calc( 10px + 32 * ((100vw - 320px) / 1120));
  padding-right: calc( 10px + 32 * ((100vw - 320px) / 1120));
  background: none;
  border: 1px solid #fdd455;
  color: white;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.header_catalog_sales .collection_text a:hover {
  opacity: 0.8;
}

.models_button {
  display: inline-block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-left: calc( 16px + 44 * ((100vw - 320px) / 1120));
  padding-right: calc( 16px + 44 * ((100vw - 320px) / 1120));
  background-color: #fdd455;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.models_button:hover {
  opacity: 0.8;
}

.models_sneaker_sale {
  position: relative;
}

.models_sneaker_sale::before {
  content: "-30%";
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  top: 20px;
  right: 20px;
  padding: 7px 4px;
  border-radius: 50%;
  background-color: #fdd455;
}

.models_sneaker_price {
  position: relative;
}

.models_sneaker_price::after {
  content: "4000грн";
  position: absolute;
  text-decoration: line-through;
  bottom: 5px;
  left: 50%;
  font-weight: 500;
  font-size: 12px;
  color: #c4c4c4;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#myDIV {
  width: 100%;
}

.hidden {
  display: none;
}

.footer_catalog {
  -webkit-box-shadow: 1.79601px -26.9402px 161px rgba(0, 0, 0, 0.04), 1.16408px -17.4612px 94.2894px rgba(0, 0, 0, 0.0303704), 0.6918px -10.377px 51.2815px rgba(0, 0, 0, 0.0242963), 0.3592px -5.38804px 26.1625px rgba(0, 0, 0, 0.02), 0.14634px -2.19513px 13.1185px rgba(0, 0, 0, 0.0157037), 0.03326px -0.49889px 6.33565px rgba(0, 0, 0, 0.00962963);
          box-shadow: 1.79601px -26.9402px 161px rgba(0, 0, 0, 0.04), 1.16408px -17.4612px 94.2894px rgba(0, 0, 0, 0.0303704), 0.6918px -10.377px 51.2815px rgba(0, 0, 0, 0.0242963), 0.3592px -5.38804px 26.1625px rgba(0, 0, 0, 0.02), 0.14634px -2.19513px 13.1185px rgba(0, 0, 0, 0.0157037), 0.03326px -0.49889px 6.33565px rgba(0, 0, 0, 0.00962963);
}

.hall_header {
  position: relative;
}

.hall_header img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hall_header_text {
  position: relative;
  padding-top: calc( 60px + 186 * ((100vw - 320px) / 1120));
}

.hall_header_text h2 {
  margin-bottom: calc( 20px + 80 * ((100vw - 320px) / 1120));
}

.hall_header_text a {
  background: #fdd455;
  border-radius: 10px;
  padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
  padding-left: calc( 12px + 40 * ((100vw - 320px) / 1120));
  padding-right: calc( 12px + 40 * ((100vw - 320px) / 1120));
}

.hall_header_text a:hover {
  opacity: 0.8;
}

.hall_creator {
  margin-top: 80px;
}

.hall_creator h3 {
  font-size: calc( 25px + 20 * ((100vw - 320px) / 1120));
}

.hall_creator p {
  font-size: calc( 14px + 4 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 10px + 20 * ((100vw - 320px) / 1120));
}

.hall_creator_vans {
  text-align: right;
}

.hall_creator_block {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.creator_about {
  max-width: 487px;
}

.creator_about p:first-child {
  font-weight: 500;
}

.creator_about p:nth-child(3) {
  position: relative;
  font-weight: 500;
  font-size: calc( 16px + 9 * ((100vw - 320px) / 1120));
}

.creator_about p:nth-child(3):before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  background-color: black;
  height: 100%;
}

.hall_creator_block_adolph .creator_about span {
  color: #fdd455;
  border-bottom: 1px solid #fdd455;
}

.hall_creator_block_adolph .creator_about p:nth-child(3) {
  font-size: calc( 14px + 4 * ((100vw - 320px) / 1120));
  font-weight: 400;
}

.hall_creator_block_adolph .creator_about p:nth-child(3)::before {
  display: none;
}

.hall_parallax {
  height: 50vh;
  margin: 123px 0;
  background-image: url("../img/hall_parallax.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.story_title {
  text-align: center;
  font-weight: 500;
  font-size: calc( 30px + 60 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 30px + 45 * ((100vw - 320px) / 1120));
}

.story_text {
  max-width: 600px;
}

.story_text p:first-child {
  font-size: calc( 26px + 9 * ((100vw - 320px) / 1120));
}

.story_text p:nth-child(2) {
  margin-top: calc( 20px + 20 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 10px + 10 * ((100vw - 320px) / 1120));
}

.story_year_items {
  position: relative;
}

.story_year_items::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -40px;
  left: 40px;
  width: 119.71px;
  height: 277.34px;
  border-radius: 50%;
  -webkit-transform: rotate(53.67deg);
      -ms-transform: rotate(53.67deg);
          transform: rotate(53.67deg);
  border: 4px solid rgba(253, 212, 85, 0.5);
}

.story_year_items p:first-child {
  font-size: calc( 45px + 30 * ((100vw - 320px) / 1120));
}

.story_year_items p span {
  font-size: calc( 14px + 4 * ((100vw - 320px) / 1120));
}

.story_year_items_vans::before {
  border-color: rgba(0, 0, 0, 0.5);
}

.story_galerry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: calc( 30px + 100 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 30px + 100 * ((100vw - 320px) / 1120));
}

.story_direction {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-left: calc( 30px + 60 * ((100vw - 320px) / 1120));
  padding-right: calc( 30px + 60 * ((100vw - 320px) / 1120));
  border: 1px solid #000000;
  border-radius: 20px;
}

.direction_text {
  max-width: 470px;
}

.direction_text h3 {
  font-size: calc( 30px + 20 * ((100vw - 320px) / 1120));
  font-weight: 500;
  line-height: calc( 25px + 35 * ((100vw - 320px) / 1120));
}

.direction_text p {
  margin-bottom: calc( 50px + 76 * ((100vw - 320px) / 1120));
}

.direction_text a {
  background: #D97151;
  border-radius: 5px;
  color: white;
  padding-top: calc( 5px + 5 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 5px + 5 * ((100vw - 320px) / 1120));
  padding-left: calc( 15px + 15 * ((100vw - 320px) / 1120));
  padding-right: calc( 15px + 15 * ((100vw - 320px) / 1120));
}

.delivery_block h3 {
  font-size: calc( 24px + 11 * ((100vw - 320px) / 1120));
  margin-top: calc( 30px + 70 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 30px + 70 * ((100vw - 320px) / 1120));
  position: relative;
}

.delivery_block h3::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -30px;
  width: 124.46px;
  height: 48.01px;
  border-radius: 50%;
  border: 3px solid #fdd455;
  -webkit-transform: rotate(-28.55deg);
      -ms-transform: rotate(-28.55deg);
          transform: rotate(-28.55deg);
}

.delivery_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery_content_coast {
  margin-top: calc( 25px + 38 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 25px + 38 * ((100vw - 320px) / 1120));
}

.delivery_title h4 {
  font-size: calc( 18px + 7 * ((100vw - 320px) / 1120));
}

.delivery_text {
  max-width: 580px;
}

.card {
  margin-top: calc( 15px + 15 * ((100vw - 320px) / 1120));
  margin-bottom: calc( 15px + 15 * ((100vw - 320px) / 1120));
}

.card h2 {
  font-weight: 500;
  margin-bottom: calc( 15px + 15 * ((100vw - 320px) / 1120));
}

.card_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_slider {
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.card_slider_main {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.slider_main_item_sub {
  cursor: pointer;
}

.slider_main_item_sub {
  opacity: 0.5;
}

.slider_main_item_sub.swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fdd455;
}

.card_description {
  margin-left: 50px;
}

.card_description h2 span {
  color: #c4c4c4;
  font-size: calc( 16px + 8 * ((100vw - 320px) / 1120));
  position: relative;
}

.card_description h2 span::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}

.choice_size {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 30px;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.choice_size select {
  font-family: "Jost", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
  cursor: pointer;
}

.choice_size select option {
  background-color: #fdd455;
  color: white;
}

.choice_size select::-ms-expand {
  display: none;
}

.choice_size::after {
  content: "\2193";
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
}

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice_items {
  margin-left: 20px;
  max-height: 30px;
}

.choice_items button {
  font-family: "Jost", sans-serif;
  height: 100%;
  background-color: #fdd455;
  border: none;
}

.choice_items input {
  font-family: "Jost", sans-serif;
  height: 100%;
  width: 40px;
  text-align: center;
}

.choice_check {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.choice_check input {
  cursor: pointer;
}

.choice_check p {
  margin-left: 8px;
  font-size: 16px;
}

.description_button {
  padding-top: calc( 10px + 5 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 10px + 5 * ((100vw - 320px) / 1120));
  padding-left: calc( 20px + 32 * ((100vw - 320px) / 1120));
  padding-right: calc( 20px + 32 * ((100vw - 320px) / 1120));
  background-color: #fdd455;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.description_button:hover {
  opacity: 0.8;
}

.description_delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.acordion_item {
  margin-top: 15px;
  max-width: 270px;
}

.acordion_item_trigger {
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.acordion_item_trigger::after {
  content: "\2193";
  font-size: 22px;
}

.acordion_item_trigger_active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: #fdd455;
}

.acordion_item_trigger_active::after {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.acordion_item_content {
  padding: 10px 15px;
  background-color: white;
  border: 1px solid black;
  display: none;
  border-radius: 10px;
}

@media (max-width: 1117px) {
  .cards_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block_items {
    margin-bottom: 20px;
  }

  .block_items:nth-child(2) {
    margin: 0;
  }

  .cards_block_top {
    margin-bottom: 20px;
  }

  .main_link_catalog::after {
    display: none;
  }
}

@media (max-width: 1110px) {
  .story_direction {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1040px) {
  .hall_creator {
    text-align: center;
    margin-top: calc( 50px + 150 * ((100vw - 320px) / 1120));
  }

  .hall_creator_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hall_creator_vans {
    text-align: center;
  }

  .hall_parallax {
    display: none;
  }
}

@media (max-width: 1016px) {
  .card h2 {
    text-align: center;
  }

  .card_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 769px) {
  .story_about {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .story_about_vans {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .story_year_items::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  .header_img {
    display: none;
  }

  .header_burger {
    z-index: 13;
    display: block;
    position: fixed;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: #fdd455;
    border-radius: 50%;
    opacity: 0.9;
  }

  .header_burger::before,
  .header_burger::after {
    content: "";
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: white;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }

  .header_burger::before {
    top: 10px;
  }

  .header_burger::after {
    bottom: 10px;
  }

  .header_burger span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    background-color: white;
    width: 30px;
    height: 2px;
    top: 19px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }

  .header_burger.active::before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 5px;
    top: 18px;
  }

  .header_burger.active::after {
    -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
            transform: rotate(50deg);
    width: 20px;
    left: 3px;
    top: 25px;
  }

  .header_burger.active span {
    -webkit-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
            transform: rotate(-50deg);
    width: 20px;
    top: 25px;
    left: 16px;
  }

  .header_nav_menu {
    position: fixed;
    padding-top: 15px;
    overflow: auto;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    display: block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    bottom: -100%;
    left: 0;
    background-color: #fdd455;
    opacity: 0.9;
    z-index: 12;
    width: 62%;
    height: 20%;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header_nav_menu li {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .header_nav_menu li:last-child {
    margin: 0;
  }

  .header_nav_menu a {
    font-weight: 500;
    margin: 0;
    font-size: 24px;
    color: white;
  }

  .header_nav_menu.active {
    bottom: 0;
  }

  .new_collection {
    height: 50vh;
  }

  .hall_items_img {
    display: none;
  }

  .hall_items_text {
    width: 100%;
  }

  .contacts_img {
    margin-left: 15px;
  }

  .contacts_img h2 span {
    position: relative;
  }

  .contacts_img h2 span::after {
    display: none;
  }

  .footer_block {
    display: block;
  }

  .footer_items_links {
    margin-top: 20px;
  }

  .popular_models_header {
    display: block;
  }

  .popular_models .models_sneaker {
    max-width: 170px;
  }

  .header_catalog_sales {
    height: 35vh;
    position: relative;
    width: 100%;
    background: transparent;
  }

  .header_catalog_sales .collection_text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header_catalog_sales .collection_text h3 {
    font-weight: 500;
    position: relative;
    font-size: calc( 30px + 50 * ((100vw - 320px) / 1120));
    color: #ffffff;
    max-width: 710px;
    line-height: calc( 30px + 60 * ((100vw - 320px) / 1120));
    margin-bottom: calc( 20px + 40 * ((100vw - 320px) / 1120));
    text-shadow: black 2px 1px 0, white 3px 1px 0;
  }

  .header_catalog_sales .collection_text h3::after {
    display: none;
  }

  .header_catalog_sales .collection_text a {
    padding-top: calc( 6px + 9 * ((100vw - 320px) / 1120));
    padding-bottom: calc( 6px + 9 * ((100vw - 320px) / 1120));
    padding-left: calc( 10px + 32 * ((100vw - 320px) / 1120));
    padding-right: calc( 10px + 32 * ((100vw - 320px) / 1120));
    background: #fdd455;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 500;
  }

  .header_catalog_sales .collection_text a:hover {
    opacity: 0.8;
  }

  .models_sneaker_price {
    position: relative;
  }

  .models_sneaker_price::after {
    bottom: 0;
  }

  .hall_header_text h2 {
    max-width: 200px;
  }
}

@media (max-width: 754px) {
  .delivery_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 374px) {
  .header_nav_menu {
    height: 25%;
  }
}

@media (max-width: 360px) {
  .popular_models {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-height: 415px) {
  .header_nav_menu {
    height: 50%;
  }
}

.webp .header_catalog_sales{ background-image: url(../img/nike_paralax.webp); }

.webp .hall_parallax{ background-image: url(../img/hall_parallax.webp); }